/*--------------------------*/
/* footer */

footer{
	background-image: linear-gradient(to right,rgb(27, 26, 35),rgba(212, 11, 226, 0.902));
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color:#fff;
	font-size: 100%;
	padding: 40px 0 10px 0;
}

.site-navigation{
	list-style: none;
	float:left;
}

.social-navigation{
	list-style: none;
	float:right;
}

.site-navigation li,
.social-navigation li{
	display:inline-block;
	padding: 0 10px;
	margin-right:0;
}

.site-navigation li a:link,
.site-navigation li a:visited,
.social-navigation li a:link,
.social-navigation li a:visited{
	color: #fff;
}

.site-navigation li a:hover,
.site-navigation li a:active{
	color: #fff;
}

.social-navigation .icon{
	font-size:170%;
	color: #fff;
	-webkit-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

.ion-social-facebook:hover{
	color:#3b5998 ;
}
.ion-social-twitter:hover{
	color:#00aced;
}
.ion-social-instagram:hover{
	color:#e10038;	
}
.ion-social-googleplus:hover{
	color:#dd4b39;
}

footer p{
	text-align: center;
	margin-top:40px;
	word-spacing: 3px;
	letter-spacing: 1px;
}

@media only screen and (max-width: 1200px){
	.row2{
		width: 100%;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 799px){
	footer{
		font-size: 1.5rem;
		& p{ margin-top: 50px;}
	}
}

@media only screen and (max-width: 479px){
	footer{
		font-size: 1.4rem;
		& p{ margin-top: 50px;}
	}
}